@font-face {
    font-family: shlop;
    src: url(fonts/shlop.ttf);
}

@font-face {
    font-family: wedding;
    src: url(fonts/wedding.ttf);
}


h1{
    font-family: shlop, sans-serif;
    font-size: 5em;
    text-align: center;
}

h2{
    font-family: wedding, cursive;
    text-align: center;
    font-weight: bold;
}

html{
    background-image: none;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button{
    font-family: shlop, sans-serif;
    font-size: 3em;
    width:100px; 
    height: 2em;
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    color: white;
    background-color: red;
    border: none;
}

.button:hover{
    background-color: darkred;
}

.button2{
    margin: 0;
    position: relative;
    left: 38%;

    font-family: shlop, sans-serif;
    font-size: 2em;
    color: white;
    background-color: red;
    border: none;
    align-self: center;
}

.button2:hover{
    background-color: darkred;
}

.button3{
    margin: 0;
    position: relative;
    left: 28%;

    font-family: shlop, sans-serif;
    font-size: 2em;
    color: white;
    background-color: red;
    border: none;
    align-self: center;
}

.button3:hover{
    background-color: darkred;
}


.startDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#gameWrapper{
    visibility: collapse;
}

#loseWrapper{
    visibility: collapse;
}

#winWrapper{
    visibility: collapse;
}